<h1 mat-dialog-title>Course</h1>
<div mat-dialog-content>

    <form [formGroup]="coursesForm">
        <div>
            
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text" name="name" >
                <mat-error *ngFor="let error of nameControl.errors | keyvalue">
                {{ error | controlErrorMessage}}
                </mat-error>
        </mat-form-field>
    </div>
    <div>
        
        
        <mat-form-field appearance="outline">
            <mat-label>Duration</mat-label>
            <input formControlName="duration" matInput type="text" name="duration">
            <mat-error *ngFor="let error of durationControl.errors | keyvalue">
                {{error | controlErrorMessage}}
            </mat-error>
        </mat-form-field>
    </div>
    <div>     
        <mat-form-field appearance="outline">
            <mat-label>Courses</mat-label>
            <input formControlName="teacher" matInput type="text" name="teacher">
            <mat-error *ngFor="let error of teacherControl.errors | keyvalue">
                {{error | controlErrorMessage}}
            </mat-error>
        </mat-form-field>
        <pre>
        </pre>
    </div>
   
   
    <div mat-dialog-actions>
        <button mat-button (click)="onSubmit()">
            Create
        </button>
        <button type="reset" mat-button>
            Delete
        </button>
        <button  mat-button mat-dialog-close="">
            Exit
        </button>
    
    </div>
</form>
</div>
    
