.example-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid #555;
  }
 
.sidebaar{
  height: 10vh ; 
}

.home{
  padding: 10px;
}



.toolBar{
  display: flex;
  justify-content: space-between;
  width: 90%;
  
  
  h1{
    margin: 0;
    font-family: monospace;
  }
  p{
    margin: 0;
  }
  
}
button{
  transition: transform 0.3s ease;
}
button:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.tool-tip{
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(146, 46, 84);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.rol:hover{
  .tool-tip{
    opacity: 1;
  }
}


.contenedorRol{
  display: flex;
  gap: 20px;
}