<mat-drawer-container class="example-container" autosize>
  <mat-drawer [mode]="'over'" #drawer class="example-sidenav" mode="side">
   <app-nav-menu></app-nav-menu>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="sidebaar"  color="primary">
      <button type="button" mat-button (click)="drawer.toggle() ">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="toolBar">
        <button appFonTitle routerLink="/dashboard" mat-flat-button color="primary"> ProAcademy</button>
        <div class="contenedorRol">
          <p *ngIf="authUser$ | async; let authUser ">
            {{ authUser?.name }} {{ authUser?.surname }}
          </p>
          <div class="rol">
            Role
            <h4 *ngIf="authUser$ | async; let authUser "class="tool-tip">
              {{authUser?.role}}
            </h4>
            <mat-icon class="iconoRols">
              supervised_user_circle
            </mat-icon>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <main class="home">
      <router-outlet></router-outlet>  
    </main>
  </div>
</mat-drawer-container>

