.example-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid #555;
  }
 
.sidebaar{
  height: 10vh ; 
}

.home{
  padding: 10px;
}



.toolBar{
  display: flex;
  justify-content: space-between;
  width: 90%;
  
  
  h1{
    margin: 0;
  }
  p{
    margin: 0;
  }
  
}

