<mat-drawer-container class="example-container" autosize>
  <mat-drawer [mode]="'over'" #drawer class="example-sidenav" mode="side">
   <app-nav-menu></app-nav-menu>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="sidebaar"  color="primary">
      <button type="button" mat-button (click)="drawer.toggle() ">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="titulo">
        <h1 appFonTitle > List of Students </h1>
      </div>
    </mat-toolbar>
    <main class="home">
      <router-outlet></router-outlet>
      <!-- <app-users></app-users> 
      <app-courses></app-courses>
      <app-teachers></app-teachers> -->
    </main>
  </div>
</mat-drawer-container>

