<mat-card class="login">
    <mat-card-header>
      <mat-card-title>Iniciar sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <form class="loginContenedor">
        <mat-form-field>
          <input [formControl]="emailControl" matInput placeholder="Email" name="email">
          <mat-error>CAMPO INVALIDO</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input [formControl]="passwordControl" matInput placeholder="Password"  name="password" type="password">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-content>
</mat-card>