<div class="subTitulo">
    <h2 appFonTitle>Courses</h2>
  </div>
<div class="d-flex flex-row-reverse botonn">
    <!-- <button [disabled]="!(isAdmin | async)" class="m-5" mat-flat-button color="accent" (click)="onCreateCourse()"> 
        <mat-icon>add</mat-icon>
        Create
    </button> -->
    <button class="m-5" mat-flat-button color="accent" (click)="onCreateCourse()"> 
        <mat-icon>add</mat-icon>
        Create
    </button>
</div>
<app-courses-table
[dataSource]="(courses | async) || []"
(deleteCourse)="onDeleteCourse($event)"
(editCourse)="onEditCourse($event)">

</app-courses-table>